
$borderColor: gray;

.app {
  max-width: 800px;
  margin: auto;
}

h1 {
  border-bottom: solid 2px $borderColor;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-evenly;

  // > :nth-child(1n + 1) {
  //   margin-left: 1rem;
  // }
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #2b1cff;
  color: rgb(195, 245, 252);
  font-family: sans-serif;

  &:hover, &:focus {
    background-color: #4036fd;
  }

  &:active {
    background-color: #0a00cc;
  }
}

.base-input {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.output-container {
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;

  li {
    padding: 8px 16px;
  }
}