
$borderColor: gray;

* {
  box-sizing: padding-box;
}

html, body, #app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container, .app {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.app {
  width: 800px;
  max-width: 100%;
}

h1 {
  border-bottom: solid 2px $borderColor;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-evenly;

  // > :nth-child(1n + 1) {
  //   margin-left: 1rem;
  // }
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #2b1cff;
  color: rgb(195, 245, 252);
  font-family: sans-serif;

  &:hover, &:focus {
    background-color: #4036fd;
  }

  &:active {
    background-color: #0a00cc;
  }
}

.base-input {
  flex: 0 1 210px;
  min-width: 50px;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.output-container {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;

  li {
    padding: 8px 16px;
  }
}

footer {
  background-color: rgb(34, 34, 34);
  color: rgb(219, 219, 219);
  padding: 24px 8px;
  text-align: center;

  a, :link, :visited {
    color: rgb(166, 187, 255);
  }

  a:hover, a:focus, a:active {
    color: rgb(224, 232, 255);
  }
}
